.mainpost {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 10px;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $light-border-color;

    .dark-theme & {
      border-color: $dark-border-color;
    }
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;

    @media #{$media-size-phone} {
      font-size: 0.85rem;
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 20px;

    @media #{$media-size-phone} {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
    a:hover {
      .dark-theme & {
        border-bottom: none;
        text-shadow: -1px -1px 0 $index-title-color, 0 -2px 0 $index-title-drop,
          2px 2px 1px $index-title-drop, 4px 4px 1px $index-title-drop !important;
      }
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: 0.5;

    a {
      text-decoration: underline;
    }

    a:hover {
      border-bottom: 1px solid white;
    }
  }

  &-content {
    margin-top: 30px;
  }

  &-info {
    margin-top: 40px;

    a:hover {
      border-bottom: 1px solid white;
    }
  }

  &-portrait {
    float: left;
    padding-right: 20px;
  }

  &-cover {
    border-radius: 8px;
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);

    @media #{$media-size-tablet} {
      margin: 20px 0;
      width: 100%;
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    & + h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}
