.toc-title {
  font-weight: bold;
  padding-left: 0.8em;
  margin-bottom: 0.5em;
}

/* NEW */

article {
  max-width: 800px;
  width: 100%;
  // padding-left: 15px;
  // padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;
}
@media only screen and (min-width: 1025px) {
  .article-nav {
    display: grid;
    grid-template-columns: 1fr 20em;
    grid-gap: 5em;
    // max-width: 760;
    width: 100%;
    // max-width: 100em;
    // width: 90%;
    // margin: 0 auto;
  }
}

nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}

.section-nav {
  font-size: smaller;
  padding-left: 0;
  @include dimmed;
  // border-left: 2px solid #efefef;
}

#TableOfContents,
#TableOfContents {
  ul {
    padding-left: 1.3em;
  }
}

.section-nav li.active > a {
  color: white;
  font-weight: 600;
}

.section-nav a {
  text-decoration: none;
  display: block;
  // padding: 0.125rem 0;
  // color: #ccc;
  transition: all 50ms ease-in-out;
}

.section-nav a:focus {
  color: #666;
  font-weight: 600;
}

// nav > ul,
nav ul {
  list-style-type: none;
  margin: 0;
}

/* Media Queries */
@media screen and #{$media-size-toc} {
  .hide-on-mobile {
    display: none !important;
  }
}
